@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes waitingRideProgress {
    from {
        width: 0%;
    }

    to {
        width: 100%;
    }
}

.waiting-ride-progress {
    animation: waitingRideProgress 15s linear forwards;
}
